altgraph==0.17.3
blinker==1.6.2
bottle==0.12.25
cefpython3==66.0
click==8.1.5
Flask==2.3.2
itsdangerous==2.1.2
Jinja2==3.1.2
macholib==1.16.2
MarkupSafe==2.1.3
Pillow==10.0.0
proxy-tools==0.1.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pywebview==4.2.2
typing_extensions==4.7.1
Werkzeug==2.3.6
