h1 {
    color: #EB33FF;
    font-family: 'Cardo'
}

h3 {
    margin-top: 1rem;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.title {
    font-size: 40px;
    margin-top: 20px;
}

.subtitle {
    color: #96DED1;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.first-pane,
.second-pane,
.third-pane,
.fourth-pane {
    width: 30%;
}

.modified-image-container {
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*margin-top: 10px;*/
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

div .first-pane,
div .second-pane,
div .third-pane,
div .fourth-pane {
    margin: 0;
    width: 91%;
}

/* Override conflicting styles for the chosen image */
.container .first-pane img.chosen-image,
.container .second-pane img.chosen-image,
.container .third-pane img.chosen-image
.container .fourth-pane img.chosen-image {
    max-width: none; /* Remove the maximum width to allow the image to expand */
    width: 100%; /* Set the width to 100% to make the image fill the container */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
    border: 1px solid white; /* Optional: Add a border to make the image stand out */
    padding: 1rem;
}

.container .fifth-pane img.chosen-image {
    max-width: none; /* Remove the maximum width to allow the image to expand */
    width: 100%; /* Set the width to 100% to make the image fill the container */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
    border: 1px solid white; /* Optional: Add a border to make the image stand out */
    padding: 1rem;
    margin-bottom: 3rem;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload span {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-file-upload span:hover {
    background-color: #f1f1f1;
}

/* Add or modify the following styles for the input element */
input[type="text"], input[type="file"], input[type="image"], input[type="checkbox"], input[type="radio"] {
    font-family: 'Cardo';
    /* Adjust the padding to make the input field smaller */
    padding:19px 37px;

    /* Adjust the font size to make the text inside the input field smaller */
    font-size: 19px;

    /* Optionally, you can set a fixed width to make the input field smaller */
    /* width: 150px; */
}

.fa-inverse {
    background-color: greenyellow;
    border-radius: 91%;
    color: purple;
}
