{% include 'header.html' %}

<div class="container-fluid">

    <div class="container">
        <div class="first-pane">
        <h2 class="subtitle top">Click to choose a picture</h2>
        <p>👇🏿</p>
        <form action="{{ url_for('choose_image') }}" method="POST" enctype="multipart/form-data">
            <!-- Hidden file input -->
            <input type="file" name="image_file" accept="image/*" required style="display: none;" id="imageInput">

            <!-- Custom button to trigger file input -->
            <label for="imageInput" class="btn btn-primary btn-block btn-large">Choose Image</label>

            <!-- Submit button to handle the form submission (hidden by default) -->
            <button type="submit" style="display: none;"></button>
        </form>
        {% if chosen_image %}
            <img src="{{ url_for('static', filename='uploads/chosen_image.png') }}" alt="Chosen Image" class="chosen-image large-image">
        {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="second-pane">
        <h2 class="subtitle">Add Watermark Text</h2>
        <p>👇🏿</p>
        <form action="{{ url_for('add_watermark_text') }}" method="POST">
            <button type="submit" class="btn btn-primary btn-block btn-large">Click to Add Text</button><hr>
            <input type="text" name="watermark_text" placeholder="Enter the Watermark text" required>
        </form>
        {% if modified_image %}
            <img src="{{ url_for('static', filename='uploads/' + modified_image) }}" alt="Chosen Image" class="chosen-image large-image">
        {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="third-pane">
        <h2 class="subtitle">Add Watermark Logo</h2>
        <p>👇🏿</p>
        <form action="{{ url_for('add_watermark_logo') }}" method="POST" enctype="multipart/form-data">
            <!-- Hidden file input -->
            <input type="file" name="logo_file" accept="image/*" required style="display: none;" id="logoInput">

            <!-- Custom button to trigger file input -->
            <label for="logoInput" class="btn btn-primary btn-block btn-large">Choose Logo</label>

            <!-- Submit button to handle the form submission (hidden by default) -->
            <button type="submit" style="display: none;"></button>
        </form>
        {% if logo_image %}
            <img src="{{ url_for('static', filename='/uploads/modified_image.png') }}" alt="Watermark Logo" class="chosen-image large-image">
        {% endif %}
        </div>
    </div>


    <div class="container">
        <div class="fourth-pane">
            <h2 class="subtitle">Add Watermark-text & Logo</h2>
            <p>👇🏿</p>
            <form action="{{ url_for('add_watermark_text_and_logo') }}" method="POST">
                <button type="submit" class="btn btn-primary btn-block btn-large">Click to Add Text & Logo</button><hr>
                <input type="text" name="watermark_text" placeholder="Enter the Watermark text" required>
            </form>
            {% if modified_image_text_and_logo %}
                <img src="{{ url_for('static', filename='/uploads/modified_image.png') }}" alt="Chosen Image" class="chosen-image large-image">
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="fifth-pane">
            <h2 class="subtitle">Watermark Result Image</h2>
            <p>👇🏿</p>
            <form action="{{ url_for('save') }}" method="POST">
                <input type="hidden" name="image_path" value="{{ modified_image }}">
                <button type="submit">Click to Save Image 👌🏿😎💪🏿</button>
            </form>
            {% if modified_image_text_and_logo or logo_image %}
                <img src="{{ url_for('static', filename='/uploads/modified_image.png') }}" alt="Chosen Image" class="chosen-image large-image">
            {% endif %}
        </div>
    </div>

</div>


<script>
    // Get the file input elements
    const imageInput = document.getElementById('imageInput');
    const logoInput = document.getElementById('logoInput');

    // Add an event listener for the change event on the file inputs
    imageInput.addEventListener('change', function() {
        // Submit the image form automatically when an image is selected
        const form = document.querySelector('form[action="{{ url_for('choose_image') }}"]');
        form.submit();
    });

    logoInput.addEventListener('change', function() {
        // Submit the logo form automatically when an image is selected
        const form = document.querySelector('form[action="{{ url_for('add_watermark_logo') }}"]');
        form.submit();
    });
</script>

{% include 'footer.html' %}